gunicorn==21.2.0  # Add this line
flask==3.0.3
flask-sqlalchemy==3.1.1
flask-login==0.6.3
flask-migrate==4.1.0
flask-limiter==3.8.0
flask-caching==2.3.0
flask-wtf==1.2.1
werkzeug==3.0.2
sqlalchemy==2.0.28
wtforms==3.1.2
python-dotenv==1.0.1
requests==2.32.3